.card-img {
    height: 250px; /* Atur tinggi gambar sesuai kebutuhan */
    object-fit: cover;
  }
  .card-body {
    height: 100%;
  }
  .more-link {
  color: #007bff; /* Warna teks seperti hyperlink */
  cursor: pointer; /* Ubah kursor menjadi pointer saat di atas teks */
  text-decoration: underline; /* Beri garis bawah seperti hyperlink */
  margin-top: auto; /* Geser ke bawah (menggunakan flexbox) */
}